# Git
.git
.gitignore
.gitattributes

# Node
node_modules
npm-debug.log
yarn-error.log
dist

# PHP
vendor
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Laravel
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
bootstrap/cache/*

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore
